{mode, max}.

%{warmup, {5, 1}}.

%{duration, 1}.
%{concurrent, 1}.

{scale_clients, {2, 1, 10}}.

{driver, basho_bench_driver_null}.

{key_generator, {int_to_bin, {uniform_int, 35000}}}.
%{key_generator, {int_to_bin, {sequential_int, 5000000}}}.

{value_generator, {fixed_bin, 10248}}.

{operations, [{put, 1}]}.
