{mode, max}.

{duration, 1}.
{concurrent, 5}.

{driver, basho_bench_driver_ping_loop}.

{key_generator, {int_to_bin, {uniform_int, 35000}}}.

{value_generator, {fixed_bin, 10240}}.

{ping_server_hostname, '127.0.0.1'}.

{ping_mynode, ['ping_bench@127.0.0.1', longnames]}.

{operations, [{ping, 1}, {put, 1}, {get, 1}]}.
